<html>
<head>
<script src="js/jquery.js"></script>
<!--<meta name="viewport" content="width=device-width">-->
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/buzzer.css">
<link rel="stylesheet" href="css/login.css">
<title>Admin login</title>
</head>
<body>
<img id="logo" src="teamlogo.png"></img>


<div id="loginForm">
<form action='admin' method='post'>
<input type='text' name='username' placeholder="Enter Admin Name" class="inputEl"></input><br>
<br>
<input type='password' name='secret' placeholder="Enter Secret Key" class="inputEl"></input><br>
<br>
<input type='submit' id="submitter"></input></form>

</div>
</body>
</html>